@use './functions' as *;
@use './variables' as *;

@mixin hovering-link($hoverColor, $opacity) {
  a::before {
    z-index: -1;
    content: '';
    width: rem(53.57px);
    height: rem(30px);
    position: absolute;
    left: -10px;
    background-color: rgba($color: $hoverColor, $alpha: $opacity);
    border-radius: 35px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  a:hover::before {
    transform: scaleX(1);
  }
}

@mixin laptop-layout {
  @media all and (min-width: map-get($breakpoints, laptop)) {
    @content;
  }
}
