$bgColor: #272727;
$paleWhite: #e5e5e5;
$greyText: #a9a9a9;
$white: #ffffff;
$greenLcd: #03ad00;
$cobaltBlue: #2a7ab0;
$react: #00ccff;
$js: #ffdf00;
$html: #e44d26;
$css: #264de4;
$sass: #cd6799;

$breakpoints: (
  tablet: 760px,
  laptop: 1000px,
);
