@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;
@use '../base/fonts';

// HOMEPAGE STYLING

body {
  z-index: 1;
  background-color: $bgColor;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
  @include laptop-layout {
    min-height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}
// Landing page section

.landing {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @include laptop-layout {
    max-width: 1920px;
    margin: auto;
    flex-wrap: nowrap;
  }
  &__title {
    margin-top: rem(134px);
    padding: 0 rem(34px) rem(20px);
    color: $white;
    font-weight: 700;
    font-size: rem(43px);
    line-height: rem(47px);
    animation: appearing-text 0.6s ease-out forwards;
    @include laptop-layout {
      flex: 1;
      margin: rem(312px) 0 0 rem(203px);
      padding: 0;
      font-size: rem(70px);
      line-height: rem(80px);
    }
    &--grey {
      color: $greyText;
      font-weight: 600;
    }
  }
  &__image {
    flex: 1;
    width: 100%;
    margin: rem(27px) 0 rem(25px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include laptop-layout {
      margin: rem(151px) 0 0 rem(151px);
      width: auto;
    }
    img {
      z-index: 100;
      height: rem(370px);
      width: rem(375px);
      @include laptop-layout {
        width: rem(851.82px);
        height: rem(839.68px);
      }
    }
  }
}

// Background logo positionning

.circles__logo {
  z-index: -1;
  position: absolute;
  top: rem(81px);
  right: rem(13px);
  &--contact {
    z-index: 0;
  }
}

// About section

.about {
  padding: rem(81px) rem(34px) 0;
  margin-top: rem(
    -25px
  ); // dark magic to reposition the section when clicking About link
  position: relative;
  overflow: hidden;
  color: $white;
  @include laptop-layout {
    padding: rem(272px) rem(215px) 0;
  }
  &__title {
    margin-bottom: rem(17px);
    font-size: rem(30px);
    font-weight: 600;
    @include laptop-layout {
      max-width: 1920px;
      margin: auto;
      margin-bottom: rem(10px);
      font-size: rem(50px);
    }
  }
  &__text {
    margin-bottom: rem(33px);
    @include laptop-layout {
      max-width: 1920px;
      margin: auto;
      margin-bottom: rem(125px);
    }
  }
  &__stack {
    margin-bottom: rem(30px);
    font-size: rem(20px);
    font-weight: 500;
    @include laptop-layout {
      max-width: 1920px;
      margin: auto;
      margin-bottom: rem(63px);
    }
  }
  &__logos {
    margin-bottom: rem(90px);
    display: flex;
    flex-wrap: wrap;
    gap: rem(19px);
    @include laptop-layout {
      max-width: 1920px;
      margin: auto;
      gap: rem(25px);
    }
    img {
      height: rem(45.65px);
    }
  }
  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    &--react {
      width: rem(72px);
      height: rem(71px);
      color: $react;
      @include laptop-layout {
        width: rem(95px);
        height: rem(109px);
      }
      img {
        width: rem(45.65px);
        height: rem(45.65px);
        @include laptop-layout {
          width: rem(70px);
          height: rem(70px);
        }
      }
    }
    &--js {
      width: rem(86px);
      height: rem(71px);
      color: $js;
      @include laptop-layout {
        width: rem(95px);
        height: rem(109px);
      }
      img {
        width: rem(45.65px);
        height: rem(45.65px);
        @include laptop-layout {
          width: rem(70px);
          height: rem(70px);
        }
      }
    }
    &--html {
      width: rem(61.96px);
      height: rem(71.09px);
      color: $html;
      @include laptop-layout {
        width: rem(95px);
        height: rem(109px);
      }
      img {
        width: rem(45.65px);
        height: rem(45.65px);
        @include laptop-layout {
          width: rem(70px);
          height: rem(70px);
        }
      }
    }
    &--css {
      width: rem(61.96px);
      height: rem(71.09px);
      margin-left: rem(5px);
      color: $css;
      @media all and (min-width: 410px) {
        margin: 0;
      }
      @include laptop-layout {
        width: rem(95px);
        height: rem(109px);
      }
      img {
        width: rem(32.36px);
        height: rem(45.65px);
        @include laptop-layout {
          width: rem(49.62px);
          height: rem(70px);
        }
      }
    }
    &--sass {
      width: rem(61.96px);
      height: rem(71.09px);
      margin-left: rem(17px);
      color: $sass;
      @media all and (min-width: 500px) {
        margin: 0;
      }
      @include laptop-layout {
        width: rem(95px);
        height: rem(109px);
      }
      img {
        width: rem(60.87px);
        height: rem(45.65px);
        @include laptop-layout {
          width: rem(93.33px);
          height: rem(70px);
        }
      }
    }
  }
}

// Projects section

.projects {
  padding: rem(81px) rem(34px) 0;
  margin-top: rem(-25px);
  position: relative;
  overflow: hidden;
  color: $white;
  &__title {
    margin-bottom: rem(25px);
    font-size: rem(30px);
    font-weight: 600;
  }
  &__display {
    margin-bottom: rem(90px);
    display: flex;
    flex-wrap: wrap;
    gap: rem(28px);
  }
  &__project {
    position: relative;
    width: rem(309px);
    height: rem(201.61px);
    & img {
      position: absolute;
      background: url('../../../assets/design/grain_effect_projects_section.svg');
      background-size: 100%;
    }
  }
  &__image {
    z-index: 10;
    right: 0;
    top: 0;
    width: rem(303.93px);
    height: rem(197.05px);
  }
  &__deco {
    left: 0;
    bottom: 0;
    width: rem(303.93px);
    height: rem(197.05px);
  }
  &__hover {
    z-index: 100;
    padding: rem(31px) 1rem rem(17px);
    width: rem(303.93px);
    height: rem(197.05px);
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;
    transition: opacity 0.18s ease-in-out;
    &:hover {
      opacity: 1;
      backdrop-filter: blur(2px);
    }
    &-name {
      font-size: rem(22px);
      font-weight: 600;
    }
    &-desc {
      font-size: rem(17px);
    }
    &-browse {
      font-size: rem(22px);
      font-weight: 600;
    }
  }
}

// Contact section

.contact {
  padding: rem(81px) rem(34px) 0;
  min-height: 100vh;
  position: relative;
  background: #000
    url('../../../assets/design/grain_effect_background_page.svg');
  background-size: 100%;
  @include laptop-layout {
    background-size: 40%;
  }
  & * {
    color: $white;
  }
  &__title {
    margin-bottom: rem(82px);
    font-size: rem(30px);
    font-weight: 600;
  }
  &__links {
    margin-bottom: rem(237px);
    display: flex;
    flex-direction: column;
    gap: rem(43px);
    font-size: rem(20px);
    font-weight: 500;
  }
  &__link {
    z-index: 5;
    position: relative;
    @include hovering-link($cobaltBlue, 0.6);
  }
}

// Footer

.footer {
  padding: rem(22px) 0 rem(27px);
  border-top: 2px solid $cobaltBlue;
  &__copyright {
    margin-bottom: rem(22px);

    display: flex;
    justify-content: space-between;
  }
  &__designer {
    font-size: rem(14px);
    &-link {
      text-decoration: underline $white;
    }
  }
}
