@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../base/fonts';
@use '../utils/keyframes';

.lcd {
  overflow: hidden;
  z-index: 0;
  height: rem(30px);
  width: rem(1200px);
  position: absolute;
  top: rem(144px);
  display: flex;
  align-items: center;
  background: #000 url('../../../assets/design/lcd_ornament2.svg') space;
  &__text {
    padding-left: 10rem;
    min-width: rem(408px);
    color: $greenLcd;
    font-family: Digital-7, sans-serif;
    font-size: rem(20px);
    animation: marquee 10s linear infinite;
  }
}
