@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;
@use '../utils/keyframes' as *;

.menu {
  z-index: -100;
  overflow: hidden;
  word-wrap: break-word;
  padding: 0 rem(34px);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  background: #000
    url('../../../assets/design/grain_effect_background_page.svg');
  transition: all 0.8s cubic-bezier(0.26, 0.01, 0, 0.75);
  background-size: 100%;
  overscroll-behavior: none;
  @include laptop-layout {
    padding: 3rem 2rem;
    border-radius: 10px;
    top: rem(38px);
    right: rem(52px);
    left: unset;
    bottom: unset;
    transform: none;
    opacity: 0;
    transition: opacity 0.25s cubic-bezier(0.26, 0.01, 0, 0.75);
  }
  @include bigScreen-layout {
    width: rem(466px);
    height: rem(505px);
    padding: rem(76px) rem(73px) rem(76px) rem(93px);
  }
  &.active {
    z-index: 998;
    transform: translateX(0);
    @include laptop-layout {
      transform: none;
      opacity: 1;
    }
  }
  &__items {
    margin-top: rem(150px);
    @include laptop-layout {
      margin-top: 0;
    }
  }
  &__item {
    position: relative;
    margin-bottom: rem(40px);
    font-weight: 600;
    font-size: rem(20px);
    color: #fff;
    &-title {
      color: $greyText;
    }
    &--last {
      @include laptop-layout {
        margin: 0;
      }
    }
    @include hovering-link($greenLcd, 0.5);
  }
  &__contact {
    padding-top: rem(50px);
    @include laptop-layout {
      padding: 0;
    }
  }
  &__socials {
    display: flex;
    align-items: center;
    gap: rem(53px);
    @include laptop-layout {
      display: none;
    }
  }
}
