@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;
@use '../utils/keyframes' as *;

.menu {
  z-index: -100;
  overflow: hidden;
  word-wrap: break-word;
  padding: 0 rem(34px);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  background: #000
    url('../../../assets/design/grain_effect_background_page.svg');
  transition: all 0.6s cubic-bezier(0.26, 0.01, 0, 0.75);
  background-size: 100%;
  overscroll-behavior: none;
  &.active {
    z-index: 998;
    transform: translateX(0);
  }
  &__items {
    margin-top: rem(150px);
  }
  &__item {
    position: relative;
    margin-bottom: rem(40px);
    font-weight: 600;
    font-size: rem(20px);
    color: #fff;
    &-title {
      color: $greyText;
    }
    @include hovering-link($greenLcd, 0.5);
  }
  &__contact {
    padding-top: rem(50px);
  }
  &__socials {
    display: flex;
    align-items: center;
    gap: rem(53px);
  }
}
