@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Digital-7';
  src: url('../../../assets/fonts/digital-7.regular-webfont.woff2')
      format('woff2'),
    url('../../../assets/fonts/digital-7.regular-webfont.woff') format('woff'),
    url('../../../assets/fonts/digital-7.regular-webfont.ttf')
      format('truetype'),
    url('../../../assets/fonts/digital-7.regular-webfont.svg#digital-7regular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}
