@use '../utils/mixins' as *;

html {
  -webkit-text-size-adjust: 100%;
  @include laptop-layout {
    scroll-snap-type: y mandatory;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  min-width: 0;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

img {
  border-style: none;
}

[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
