@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
html {
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  min-width: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
  background-color: transparent;
}

img {
  border-style: none;
}

[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

@font-face {
  font-family: "Digital-7";
  src: url("../../../assets/fonts/digital-7.regular-webfont.woff2") format("woff2"), url("../../../assets/fonts/digital-7.regular-webfont.woff") format("woff"), url("../../../assets/fonts/digital-7.regular-webfont.ttf") format("truetype"), url("../../../assets/fonts/digital-7.regular-webfont.svg#digital-7regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #272727;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.landing {
  display: flex;
  flex-wrap: wrap;
}
.landing__title {
  margin-top: 8.375rem;
  padding: 0 2.125rem 1.25rem;
  color: #ffffff;
  font-weight: 700;
  font-size: 2.6875rem;
  line-height: 2.9375rem;
}
.landing__title--grey {
  color: #a9a9a9;
  font-weight: 600;
}
.landing__image {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.6875rem;
}
.landing__image img {
  z-index: 100;
}

.header {
  z-index: 999;
  position: fixed;
  right: 0;
  left: 0;
  padding: 2.5625rem 1.875rem 1.25rem 2.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  color: #e5e5e5;
  font-weight: 600;
}
.header__btn {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.1875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.1875rem;
  cursor: pointer;
}
.header__btn > span {
  display: block;
  width: 100%;
  height: 0.125rem;
  background-color: #e5e5e5;
  transition: all 0.3s ease-in-out;
}
.header__btn.active {
  position: relative;
}
.header__btn.active:hover > span {
  background-color: #03ad00;
}
.header__btn.active .first {
  position: absolute;
  width: 1.125rem;
  top: 12px;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out, top 0.3s 0.3s ease-in-out;
}
.header__btn.active .second {
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.header__btn.active .third {
  position: absolute;
  width: 1.125rem;
  top: 12px;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out, top 0.3s 0.3s ease-in-out;
}

.menu {
  display: none;
}
.menu.active {
  display: block;
  z-index: 998;
  padding: 0 2.125rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #000 url("../../../assets/design/grain_effect_background_page.svg");
  background-size: 100%;
}
.menu__items {
  margin-top: 9.375rem;
}
.menu__item {
  margin-bottom: 2.5rem;
  font-weight: 600;
  font-size: 1.25rem;
  color: #fff;
}
.menu__item-title {
  color: #a9a9a9;
}
.menu__contact {
  padding-top: 3.125rem;
}

@keyframes marquee {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translateX(100%);
  }
}
.lcd {
  overflow: hidden;
  z-index: 0;
  height: 1.875rem;
  width: 75rem;
  position: absolute;
  top: 9rem;
  display: flex;
  align-items: center;
  background: #000 url("../../../assets/design/lcd_ornament2.svg") space;
}
.lcd__text {
  padding-left: 10rem;
  min-width: 25.5rem;
  color: #03ad00;
  font-family: Digital-7, sans-serif;
  font-size: 1.25rem;
  animation: marquee 10s linear infinite;
}

/*# sourceMappingURL=style.css.map */
