@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
html {
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  min-width: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
  background-color: transparent;
}

img {
  border-style: none;
}

[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

@font-face {
  font-family: "Digital-7";
  src: url("../../../assets/fonts/digital-7.regular-webfont.woff2") format("woff2"), url("../../../assets/fonts/digital-7.regular-webfont.woff") format("woff"), url("../../../assets/fonts/digital-7.regular-webfont.ttf") format("truetype"), url("../../../assets/fonts/digital-7.regular-webfont.svg#digital-7regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  z-index: 1;
  background-color: #272727;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.landing {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.landing__title {
  margin-top: 8.375rem;
  padding: 0 2.125rem 1.25rem;
  color: #ffffff;
  font-weight: 700;
  font-size: 2.6875rem;
  line-height: 2.9375rem;
  animation: appearing-text 0.6s ease-out forwards;
}
.landing__title--grey {
  color: #a9a9a9;
  font-weight: 600;
}
.landing__image {
  width: 100%;
  margin: 1.6875rem 0 1.5625rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing__image img {
  z-index: 100;
  height: 23.125rem;
  width: 23.4375rem;
}

.circles__logo {
  z-index: -1;
  position: absolute;
  top: 5.0625rem;
  right: 0.8125rem;
}
.circles__logo--contact {
  z-index: 0;
}

.about {
  padding: 5.0625rem 2.125rem 0;
  margin-top: -1.5625rem;
  position: relative;
  overflow: hidden;
  color: #ffffff;
}
.about__title {
  margin-bottom: 1.0625rem;
  font-size: 1.875rem;
  font-weight: 600;
}
.about__text {
  margin-bottom: 2.0625rem;
}
.about__stack {
  margin-bottom: 1.875rem;
  font-size: 1.25rem;
  font-weight: 600;
}
.about__logos {
  margin-bottom: 5.625rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.1875rem;
}
.about__logos img {
  height: 2.853125rem;
}
.about__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
}
.about__logo--react {
  width: 4.5rem;
  height: 4.4375rem;
  color: #00ccff;
}
.about__logo--react img {
  width: 2.853125rem;
  height: 2.853125rem;
}
.about__logo--js {
  width: 5.375rem;
  height: 4.4375rem;
  color: #ffdf00;
}
.about__logo--js img {
  width: 2.853125rem;
  height: 2.853125rem;
}
.about__logo--html {
  width: 3.8725rem;
  height: 4.443125rem;
  color: #e44d26;
}
.about__logo--html img {
  width: 2.853125rem;
  height: 2.853125rem;
}
.about__logo--css {
  width: 3.8725rem;
  height: 4.443125rem;
  margin-left: 0.3125rem;
  color: #264de4;
}
@media all and (min-width: 410px) {
  .about__logo--css {
    margin: 0;
  }
}
.about__logo--css img {
  width: 2.0225rem;
  height: 2.853125rem;
}
.about__logo--sass {
  width: 3.8725rem;
  height: 4.443125rem;
  margin-left: 1.0625rem;
  color: #cd6799;
}
@media all and (min-width: 500px) {
  .about__logo--sass {
    margin: 0;
  }
}
.about__logo--sass img {
  width: 3.804375rem;
  height: 2.853125rem;
}

.projects {
  padding: 5.0625rem 2.125rem 0;
  margin-top: -1.5625rem;
  position: relative;
  overflow: hidden;
  color: #ffffff;
}
.projects__title {
  margin-bottom: 1.5625rem;
  font-size: 1.875rem;
  font-weight: 600;
}
.projects__display {
  margin-bottom: 5.625rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.75rem;
}
.projects__project {
  position: relative;
  width: 19.3125rem;
  height: 12.600625rem;
}
.projects__project img {
  position: absolute;
  background-image: url("../../../assets/design/grain_effect_projects_section.svg");
  background-size: auto auto;
}
.projects__image {
  z-index: 5;
  right: 0;
  top: 0;
  width: 18.995625rem;
  height: 12.315625rem;
}
.projects__deco {
  z-index: 4;
  left: 0;
  bottom: 0;
  width: 18.995625rem;
  height: 12.315625rem;
}
.projects__hover {
  z-index: 6;
  padding: 1.9375rem 1rem 1.0625rem;
  width: 18.995625rem;
  height: 12.315625rem;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  color: #fff;
  background-color: #000;
  backdrop-filter: blur(5px);
  transition: opacity 0.1s ease-in-out;
}
.projects__hover:hover {
  opacity: 0.5;
}
.projects__hover-name {
  font-size: 1.375rem;
  font-weight: 500;
}
.projects__hover-desc {
  font-size: 1.0625rem;
}
.projects__hover-browse {
  font-size: 1.375rem;
  font-weight: 600;
}

.contact {
  padding: 5.0625rem 2.125rem 0;
  position: relative;
  background: #000 url("../../../assets/design/grain_effect_background_page.svg");
  background-size: 100%;
}
.contact * {
  color: #ffffff;
}
.contact__title {
  margin-bottom: 5.125rem;
  font-size: 1.875rem;
  font-weight: 600;
}
.contact__links {
  margin-bottom: 14.8125rem;
  display: flex;
  flex-direction: column;
  gap: 2.6875rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.footer {
  padding: 1.375rem 0 1.6875rem;
  border-top: 2px solid #2a7ab0;
}
.footer__copyright {
  margin-bottom: 1.375rem;
  display: flex;
  justify-content: space-between;
}
.footer__designer {
  font-size: 0.875rem;
}
.footer__designer-link {
  text-decoration: underline #ffffff;
}

.header {
  z-index: 999;
  position: fixed;
  right: 0;
  left: 0;
  padding: 2.5625rem 1.875rem 0.9375rem 2.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
.header__title {
  color: #e5e5e5;
  font-weight: 600;
}
.header__btn {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.1875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.1875rem;
  cursor: pointer;
}
.header__btn > span {
  display: block;
  width: 100%;
  height: 0.125rem;
  background-color: #e5e5e5;
  transition: all 0.3s ease-in-out;
}
.header__btn.active {
  position: relative;
}
.header__btn.active:hover > span {
  background-color: #03ad00;
}
.header__btn.active .first {
  position: absolute;
  width: 1.125rem;
  top: 12px;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out, top 0.3s 0.3s ease-in-out;
}
.header__btn.active .second {
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.header__btn.active .third {
  position: absolute;
  width: 1.125rem;
  top: 12px;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out, top 0.3s 0.3s ease-in-out;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes appearing-text {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu {
  z-index: -100;
  overflow: hidden;
  word-wrap: break-word;
  padding: 0 2.125rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  background: #000 url("../../../assets/design/grain_effect_background_page.svg");
  transition: all 0.6s cubic-bezier(0.26, 0.01, 0, 0.75);
  background-size: 100%;
}
.menu.active {
  z-index: 998;
  transform: translateX(0);
}
.menu__items {
  margin-top: 9.375rem;
}
.menu__item {
  margin-bottom: 2.5rem;
  font-weight: 600;
  font-size: 1.25rem;
  color: #fff;
}
.menu__item-title {
  color: #a9a9a9;
}
.menu__contact {
  padding-top: 3.125rem;
}
.menu__socials {
  display: flex;
  align-items: center;
  gap: 3.3125rem;
}

.lcd {
  z-index: 10;
  height: 1.875rem;
  width: 100%;
  position: absolute;
  top: 9rem;
  display: flex;
  align-items: center;
  background: #000 url("../../../assets/design/lcd_ornament2.svg") 100%;
  overflow: hidden;
}
.lcd__text {
  width: 100%;
  color: #03ad00;
  font-family: Digital-7, sans-serif;
  font-size: 1.25rem;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}
.lcd--down {
  top: unset;
  left: 0;
  bottom: 1.75rem;
}

/*# sourceMappingURL=style.css.map */
