@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
html {
  -webkit-text-size-adjust: 100%;
}
@media all and (min-width: 1024px) {
  html {
    scroll-snap-type: y mandatory;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  min-width: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

img {
  border-style: none;
}

[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

@font-face {
  font-family: "Digital-7";
  src: url("../../../assets/fonts/digital-7.regular-webfont.woff2") format("woff2"), url("../../../assets/fonts/digital-7.regular-webfont.woff") format("woff"), url("../../../assets/fonts/digital-7.regular-webfont.ttf") format("truetype"), url("../../../assets/fonts/digital-7.regular-webfont.svg#digital-7regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  z-index: 1;
  background-color: #272727;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media all and (min-width: 1024px) {
  section {
    min-height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}

.landing {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media all and (min-width: 1024px) {
  .landing {
    max-width: 1920px;
    margin: auto;
    flex-wrap: nowrap;
  }
}
.landing__title {
  margin-top: 8.375rem;
  padding: 0 2.125rem 1.25rem;
  color: #ffffff;
  font-weight: 700;
  font-size: 2.6875rem;
  line-height: 2.9375rem;
  animation: appearing-text 0.6s ease-out forwards;
}
@media all and (min-width: 1024px) {
  .landing__title {
    flex: 1;
    margin: 19.5rem 0 0 12.6875rem;
    padding: 0;
    font-size: 4.375rem;
    line-height: 5rem;
  }
}
.landing__title--grey {
  color: #a9a9a9;
  font-weight: 600;
}
.landing__image {
  flex: 1;
  width: 100%;
  margin: 1.6875rem 0 1.5625rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media all and (min-width: 1024px) {
  .landing__image {
    margin: 9.4375rem 0 0 9.4375rem;
    width: auto;
  }
}
.landing__image img {
  z-index: 100;
  height: 23.125rem;
  width: 23.4375rem;
}
@media all and (min-width: 1024px) {
  .landing__image img {
    width: 53.23875rem;
    height: 52.48rem;
  }
}

.circles__logo {
  z-index: -1;
  position: absolute;
  top: 5.0625rem;
  right: 0.8125rem;
}
.circles__logo--contact {
  z-index: 0;
}

.about {
  padding: 5.0625rem 2.125rem 0;
  margin-top: -1.5625rem;
  position: relative;
  overflow: hidden;
  color: #ffffff;
}
@media all and (min-width: 1024px) {
  .about {
    padding: 17rem 13.4375rem 0;
  }
}
.about__title {
  margin-bottom: 1.0625rem;
  font-size: 1.875rem;
  font-weight: 600;
}
@media all and (min-width: 1024px) {
  .about__title {
    max-width: 1920px;
    margin: auto;
    margin-bottom: 0.625rem;
    font-size: 3.125rem;
  }
}
.about__text {
  margin-bottom: 2.0625rem;
}
@media all and (min-width: 1024px) {
  .about__text {
    max-width: 1920px;
    margin: auto;
    margin-bottom: 7.8125rem;
    margin-right: 43.3125rem;
  }
}
.about__stack {
  margin-bottom: 1.875rem;
  font-size: 1.25rem;
  font-weight: 500;
}
@media all and (min-width: 1024px) {
  .about__stack {
    max-width: 1920px;
    margin: auto;
    margin-bottom: 3.9375rem;
  }
}
.about__logos {
  margin-bottom: 5.625rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.1875rem;
}
@media all and (min-width: 1024px) {
  .about__logos {
    max-width: 1920px;
    margin: auto;
    gap: 1.5625rem;
  }
}
.about__logos img {
  height: 2.853125rem;
}
.about__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
}
.about__logo--react {
  width: 4.5rem;
  height: 4.4375rem;
  color: #00ccff;
}
@media all and (min-width: 1024px) {
  .about__logo--react {
    width: 5.9375rem;
    height: 6.8125rem;
  }
}
.about__logo--react img {
  width: 2.853125rem;
  height: 2.853125rem;
}
@media all and (min-width: 1024px) {
  .about__logo--react img {
    width: 4.375rem;
    height: 4.375rem;
  }
}
.about__logo--js {
  width: 5.375rem;
  height: 4.4375rem;
  color: #ffdf00;
}
@media all and (min-width: 1024px) {
  .about__logo--js {
    width: 5.9375rem;
    height: 6.8125rem;
  }
}
.about__logo--js img {
  width: 2.853125rem;
  height: 2.853125rem;
}
@media all and (min-width: 1024px) {
  .about__logo--js img {
    width: 4.375rem;
    height: 4.375rem;
  }
}
.about__logo--html {
  width: 3.8725rem;
  height: 4.443125rem;
  color: #e44d26;
}
@media all and (min-width: 1024px) {
  .about__logo--html {
    width: 5.9375rem;
    height: 6.8125rem;
  }
}
.about__logo--html img {
  width: 2.853125rem;
  height: 2.853125rem;
}
@media all and (min-width: 1024px) {
  .about__logo--html img {
    width: 4.375rem;
    height: 4.375rem;
  }
}
.about__logo--css {
  width: 3.8725rem;
  height: 4.443125rem;
  margin-left: 0.3125rem;
  color: #264de4;
}
@media all and (min-width: 410px) {
  .about__logo--css {
    margin: 0;
  }
}
@media all and (min-width: 1024px) {
  .about__logo--css {
    width: 5.9375rem;
    height: 6.8125rem;
  }
}
.about__logo--css img {
  width: 2.0225rem;
  height: 2.853125rem;
}
@media all and (min-width: 1024px) {
  .about__logo--css img {
    width: 3.10125rem;
    height: 4.375rem;
  }
}
.about__logo--sass {
  width: 3.8725rem;
  height: 4.443125rem;
  margin-left: 1.0625rem;
  color: #cd6799;
}
@media all and (min-width: 500px) {
  .about__logo--sass {
    margin: 0;
  }
}
@media all and (min-width: 1024px) {
  .about__logo--sass {
    width: 5.9375rem;
    height: 6.8125rem;
  }
}
.about__logo--sass img {
  width: 3.804375rem;
  height: 2.853125rem;
}
@media all and (min-width: 1024px) {
  .about__logo--sass img {
    width: 5.833125rem;
    height: 4.375rem;
  }
}

.projects {
  padding: 5.0625rem 2.125rem 0;
  margin-top: -1.5625rem;
  position: relative;
  overflow: hidden;
  color: #ffffff;
}
@media all and (min-width: 1024px) {
  .projects {
    padding: 17rem 12.6875rem 0;
  }
}
.projects__title {
  margin-bottom: 1.5625rem;
  font-size: 1.875rem;
  font-weight: 600;
}
@media all and (min-width: 1024px) {
  .projects__title {
    margin: 0 0 3.75rem 0.75rem;
    font-size: 3.125rem;
  }
}
.projects__display {
  margin-bottom: 5.625rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.75rem;
}
@media all and (min-width: 1024px) {
  .projects__display {
    gap: 2.3125rem;
  }
}
.projects__project {
  position: relative;
  width: 19.3125rem;
  height: 12.600625rem;
}
@media all and (min-width: 1024px) {
  .projects__project {
    width: 45.625rem;
    height: 29.76875rem;
  }
}
.projects__project img {
  position: absolute;
  background: url("../../../assets/design/grain_effect_projects_section.svg");
  background-size: 100%;
}
.projects__image {
  z-index: 10;
  right: 0;
  top: 0;
  width: 18.995625rem;
  height: 12.315625rem;
}
@media all and (min-width: 1024px) {
  .projects__image {
    width: 44.876875rem;
    height: 29.095rem;
  }
}
.projects__deco {
  left: 0;
  bottom: 0;
  width: 18.995625rem;
  height: 12.315625rem;
}
@media all and (min-width: 1024px) {
  .projects__deco {
    width: 44.876875rem;
    height: 29.095rem;
  }
}
.projects__hover {
  z-index: 100;
  padding: 1.9375rem 1rem 1.0625rem;
  width: 18.995625rem;
  height: 12.315625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
  transition: opacity 0.18s ease-in-out;
}
@media all and (min-width: 1024px) {
  .projects__hover {
    width: 44.876875rem;
    height: 29.095rem;
  }
}
.projects__hover:hover {
  opacity: 1;
  backdrop-filter: blur(2px);
}
.projects__hover-name {
  font-size: 1.375rem;
  font-weight: 600;
}
.projects__hover-desc {
  font-size: 1.0625rem;
}
.projects__hover-browse {
  font-size: 1.375rem;
  font-weight: 600;
}

.contact {
  padding: 5.0625rem 2.125rem 0;
  min-height: 100vh;
  position: relative;
  background: #000 url("../../../assets/design/grain_effect_background_page.svg");
  background-size: 100%;
}
@media all and (min-width: 1024px) {
  .contact {
    background-size: 40%;
  }
}
.contact * {
  color: #ffffff;
}
.contact__title {
  margin-bottom: 5.125rem;
  font-size: 1.875rem;
  font-weight: 600;
}
.contact__links {
  margin-bottom: 14.8125rem;
  display: flex;
  flex-direction: column;
  gap: 2.6875rem;
  font-size: 1.25rem;
  font-weight: 500;
}
.contact__link {
  z-index: 5;
  position: relative;
}
.contact__link a::before {
  z-index: -1;
  content: "";
  width: 3.348125rem;
  height: 1.875rem;
  position: absolute;
  left: -10px;
  background-color: rgba(42, 122, 176, 0.6);
  border-radius: 35px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.contact__link a:hover::before {
  transform: scaleX(1);
}

.footer {
  padding: 1.375rem 0 1.6875rem;
  border-top: 2px solid #2a7ab0;
}
.footer__copyright {
  margin-bottom: 1.375rem;
  display: flex;
  justify-content: space-between;
}
.footer__designer {
  font-size: 0.875rem;
}
.footer__designer-link {
  text-decoration: underline #ffffff;
}

.header {
  z-index: 999;
  position: fixed;
  right: 0;
  left: 0;
  padding: 2.5625rem 1.875rem 0.9375rem 2.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
@media all and (min-width: 1024px) {
  .header {
    padding: 2rem 3.625rem 2rem 5.125rem;
  }
}
.header__left-container {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}
.header__title {
  color: #e5e5e5;
  font-weight: 600;
}
@media all and (min-width: 1024px) {
  .header__title {
    font-size: 1.25rem;
  }
}
.header__socials {
  display: none;
}
@media all and (min-width: 1024px) {
  .header__socials {
    display: flex;
    align-items: center;
    gap: 1.75rem;
  }
}
.header__btn {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.1875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.1875rem;
  cursor: pointer;
}
@media all and (min-width: 1024px) {
  .header__btn {
    width: 1.875rem;
    height: 1.875rem;
    gap: 0.3125rem;
  }
}
.header__btn > span {
  display: block;
  width: 100%;
  height: 0.125rem;
  background-color: #e5e5e5;
  transition: all 0.3s ease-in-out;
}
.header__btn.active {
  position: relative;
}
.header__btn.active:hover > span {
  background-color: #03ad00;
}
.header__btn.active .first {
  position: absolute;
  width: 1.125rem;
  top: 12px;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out, top 0.3s 0.3s ease-in-out;
}
@media all and (min-width: 1024px) {
  .header__btn.active .first {
    width: 1.875rem;
  }
}
.header__btn.active .second {
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.header__btn.active .third {
  position: absolute;
  width: 1.125rem;
  top: 12px;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out, top 0.3s 0.3s ease-in-out;
}
@media all and (min-width: 1024px) {
  .header__btn.active .third {
    width: 1.875rem;
  }
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-70%);
  }
}
@keyframes marquee-desktop {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-40%);
  }
}
@keyframes appearing-text {
  from {
    opacity: 0;
    transform: translateY(-2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu {
  z-index: -100;
  overflow: hidden;
  word-wrap: break-word;
  padding: 0 2.125rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  background: #000 url("../../../assets/design/grain_effect_background_page.svg");
  transition: all 0.8s cubic-bezier(0.26, 0.01, 0, 0.75);
  background-size: 100%;
  overscroll-behavior: none;
}
@media all and (min-width: 1024px) {
  .menu {
    padding: 3rem 2rem;
    border-radius: 10px;
    top: 2.375rem;
    right: 3.25rem;
    left: unset;
    bottom: unset;
    transform: none;
    opacity: 0;
    transition: opacity 0.25s cubic-bezier(0.26, 0.01, 0, 0.75);
  }
}
@media all and (min-width: 1900px) {
  .menu {
    width: 29.125rem;
    height: 31.5625rem;
    padding: 4.75rem 4.5625rem 4.75rem 5.8125rem;
  }
}
.menu.active {
  z-index: 998;
  transform: translateX(0);
}
@media all and (min-width: 1024px) {
  .menu.active {
    transform: none;
    opacity: 1;
  }
}
.menu__items {
  margin-top: 9.375rem;
}
@media all and (min-width: 1024px) {
  .menu__items {
    margin-top: 0;
  }
}
.menu__item {
  position: relative;
  margin-bottom: 2.5rem;
  font-weight: 600;
  font-size: 1.25rem;
  color: #fff;
}
.menu__item-title {
  color: #a9a9a9;
}
@media all and (min-width: 1024px) {
  .menu__item--last {
    margin: 0;
  }
}
.menu__item a::before {
  z-index: -1;
  content: "";
  width: 3.348125rem;
  height: 1.875rem;
  position: absolute;
  left: -10px;
  background-color: rgba(3, 173, 0, 0.5);
  border-radius: 35px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.menu__item a:hover::before {
  transform: scaleX(1);
}
.menu__contact {
  padding-top: 3.125rem;
}
@media all and (min-width: 1024px) {
  .menu__contact {
    padding: 0;
  }
}
.menu__socials {
  display: flex;
  align-items: center;
  gap: 3.3125rem;
}
@media all and (min-width: 1024px) {
  .menu__socials {
    display: none;
  }
}

.lcd {
  z-index: 10;
  height: 1.875rem;
  width: 100%;
  position: absolute;
  top: 9rem;
  display: flex;
  align-items: center;
  background: #000 url("../../../assets/design/lcd_ornament2.svg");
  overflow: hidden;
}
@media all and (min-width: 1024px) {
  .lcd {
    height: 2.75rem;
    top: 50.3125rem;
  }
}
@media all and (min-width: 1024px) {
  .lcd--mobile {
    display: none;
  }
}
.lcd--desktop {
  display: none;
}
@media all and (min-width: 1024px) {
  .lcd--desktop {
    display: flex;
  }
}
.lcd__text {
  width: 100%;
  color: #03ad00;
  font-family: Digital-7, sans-serif;
  font-size: 1.25rem;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}
@media all and (min-width: 1024px) {
  .lcd__text {
    font-size: 2.1875rem;
    animation: marquee-desktop 18s linear infinite;
  }
}
.lcd--down {
  top: unset;
  left: 0;
  bottom: 1.75rem;
}

/*# sourceMappingURL=style.css.map */
